# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Nuitka / Compilation
*.build/
*.dist/
*.bin
*.onefile-build/

# Project build / artifacts
archive/
build/
dist/
output/
rpmbuild/
remove_background.build/
remove_background.dist/
remove-background.build/
remove-background.dist/

# Packaging
*.rpm
*.spec

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db